{% extends 'base.html' %}

{% load static %}

{% block body %}
<div class='py-4 container-fluid w-screen mt-4 bg-info'>
        <div class="row mx-auto justify-content-center">
            <div class='card col-md-5 mb-4 mr-4'>
                <img src="{% static '/images/rb_39285.png' %}">
        
                <div class='d-flex w-100 justify-content-between'>
                    <p class='mb-1'>
                     Get suggestions for healthy foods
                    </p>
                </div>
            </div>
        
            <div class='card col-md-5 mb-4'>
                <img src="{% static '/images/rb_128205.png' %}">
                <div class='d-flex w-100 justify-content-between'>
                    <p class='mb-1'>
                     Track your food calories
                    </p>
                </div>
            </div>
                <div class='card col-md-5 mb-4 mr-4'>
                    <img src="{% static '/images/rb_168780.png' %}">
            
                    <div class='d-flex w-100 justify-content-between'>
                        <p class='mb-1'>
                         Track your weight
                        </p>
                    </div>
                </div>
                <div class='card col-md-5 mb-4'>
                    <img src="{% static '/images/rb_19900.png' %}">
            
                    <div class='d-flex w-100 justify-content-between'>
                        <p class='mb-1'>
                         Set calorie goals
                        </p>
                    </div>
                </div>

        </div>
</div>
{% endblock %}
